* {
  margin: 0;
  padding: 0;
}
main {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}
h1 {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
section {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
span {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
p {
  width: 80%;
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}
input {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
h1,
p,
span,
h2 {
  color: #fff;
}
button {
  font-size: 16px;
  position: relative;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
}

button span {
  color: #464646;
}

button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}

button:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}

.full-rounded {
  border-radius: 2em;
}
section p,
.text {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
.correct {
  background-color: #0aff09;
  padding: 1rem;
}
.wrong {
  background-color: #ff0000;
  padding: 1rem;
}
.record{
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  color: #fff;
}
.results__off,
.reset__off,
.text__off{
  display: none;
}
.game__guide__off{
  pointer-events: none;
}
.low__or__much{
  width: fit-content;
}

